<html  style="width: 100%; height: 100%">
<head>
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <style type="text/css">
        html, body{
            padding: 0;
            margin: 0;
        }

        html, body, iframe{
            width: 100%;
            height: 100%;
        }

        body {
            font-size: 0;
            overflow:hidden;
        }

        * {
            -webkit-tap-highlight-color: rgba(0,0,0,0); /*Disable  the blinking effect */
            -moz-tap-highlight-color: rgba(0,0,0,0);
            -o-tap-highlight-color: rgba(0,0,0,0);
            -webkit-touch-callout: none;
            -moz-touch-callout: none;
            -o-touch-callout: none;
            -webkit-backface-visibility: hidden;
        }

        @media only screen and (max-width: 420px) {
            #notSupportedTitle {
                display: none;
            }
        }

    </style>
    <link rel="stylesheet" href="stylesheets/game.css"/>
    <script type="text/javascript" src="https://d3425luerwqydx.cloudfront.net/players/htmlplayer/release/4.4.0/11/embedbridge.min.gz.js"></script>

    {{#unless noia}}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-45501303-17', 'auto', 'dashboardTracker');
        ga('dashboardTracker.set', 'page', '/fp/{{id}}');
        ga('dashboardTracker.set', 'title', '{{title}}');
        ga('dashboardTracker.send', 'pageview');
    </script>
    <script src="https://d1w2zhnqcy4l8f.cloudfront.net/interludeanalytics/ia-1.0.min.gz.js"></script>
    <script type="text/javascript">
        window.InterludeAnalytics.configure({
            context: 'standalone',
            projectID: '{{id}}',
            mode: '{{mode}}' // Will be set in the 'build' process according Tracker mode in player options.
        });
    </script>
    {{/unless}}
</head>
<body style="width: 100%; height: 100%; margin: 0" >
<div id="player" style="width: 100%; height: 100%; background: black;"></div>
<script type="text/javascript">
    window.InterludeLoader = 'standalone';
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.1.18/require.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/gsap/1.19.0/plugins/ColorPropsPlugin.min.js"></script>
<script>
    requirejs.config({
        waitSeconds: 100
    });

    require(['loader.min.js']); // NOTE: The 'upload' (S3) task will replace this to the gzip version.
</script>
</body>
</html>