<div class="levelScore">
    <div class="levelScore__kid">
        <span class="levelScore__caption">kid: </span>
        <span class="levelScore__number">0</span>
    </div>
    <div class="levelScore__opponent">
        <span class="levelScore__caption">reggie: </span>
        <span class="levelScore__number">0</span>
    </div>
</div>