.gestureImageContainer {
  position: absolute;
  left: 25%;
  top: 0;
  width: 50%;
  height: 0;
  padding-bottom: 50%;
  pointer-events: none; }
  .gestureImageContainer .gestureImage {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.2s ease-in;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center; }
  .gestureImageContainer.cw .gestureImage {
    transform: rotate(90deg); }
  .gestureImageContainer.cww .gestureImage {
    transform: rotate(180deg); }
  .gestureImageContainer.cwww .gestureImage {
    transform: rotate(-90deg); }

.keyPrompt {
  position: absolute;
  width: 3rem;
  height: 3rem;
  top: 50%;
  left: 50%;
  color: white;
  opacity: 0;
  line-height: 3.5rem;
  font-size: 1.6rem;
  text-align: center;
  border: 0.1rem solid white;
  border-radius: 0.3rem;
  background-color: rgba(255, 255, 255, 0.2);
  transition: opacity 0.2s ease-in; }
  .keyPrompt:nth-child(1) {
    transform: translateX(-100%); }
  .keyPrompt:nth-child(2) {
    transform: translateX(100%); }

.levelScore {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: white;
  font-size: 1.5rem; }

.superPower {
  position: absolute;
  top: -3rem;
  left: -3rem;
  width: 20rem;
  height: 20rem;
  pointer-events: all; }
